<ul class="list-group mb-2">
  <li class="list-group-item">
    <h4>Yeni Film Ekleme</h4>
    <form #movieForm="ngForm">
      <div class="row">
        <div class="col col-sm-4">
          <input type="text" class="form-control" placeholder="Film Ismi Girin" name="movieName" required [(ngModel)]="movieName" />
        </div>
        <div class="col col-sm-4">
          <select class="form-control" name="movieYear" required [(ngModel)]="movieYear">
            <option value="-1">
              Seçiniz
            </option>
            <option *ngFor="let year of years">
              {{year}}
            </option>
          </select>
        </div>
        <div class="col col-sm-2">
          <button class="btn btn-xs btn-primary" (click)="saveMovie()" [disabled]="movieForm.invalid" *ngIf="!updateForm">
            Kaydet
          </button>
        </div>
        <div class="col col-sm-2">
          <button class="btn btn-xs btn-primary" (click)="updateMovie(movieName,movieYear)" [disabled]="movieForm.invalid" *ngIf="updateForm">
            Güncelle
          </button>
        </div>


      </div>
    </form>
  </li>
</ul>